---

export interface Props {
	title?: string;
  subtitle? : string;
  tagline? : string;

}

const {
	title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
} = Astro.props;
---

<section class="w-full h-screen flex flex-col justify-around items-center" id="about">
    <div class="w-full h-1/4 p-5 text-center">
        {
        tagline && (
            <p
              class="text-base text-red-400 dark:text-red-400 font-bold tracking-wide uppercase"
              set:html={tagline}
            />
          )
        }
        {
            title && (
              <h1
                class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200"
                set:html={title}
              />
            )
        }
        {subtitle && <p class="text-xl text-muted mb-6 dark:text-white" set:html={subtitle} />}
    </div>
    <div class="w-full h-full flex justify-center">
      <!-- <div class="card lg:card-side bg-base-100 shadow-xl w-10/12 h-full p-5 grid grid-cols-2 gap-4">
        <div class="pl-7 flex flex-col text-white">
          <h1 class="text-3xl">
            text
          </h1>
          <h2 class="text-lg">
            subtext
          </h2>
        </div>
        <div class="pl-7 flex flex-col text-white">
          <h1 class="text-2xl">
            text
          </h1>
        </div>
        <div class="pl-7 flex flex-col text-white">
          <h1 class="text-2xl">
            text
          </h1>
        </div>
        <div class="pl-7 flex flex-col text-white">
          <h1 class="text-2xl">
            text
          </h1>
        </div>
        <div class="pl-7 flex flex-col text-white">
          <h1 class="text-2xl">
            text
          </h1>
        </div>
        <div class="pl-7 flex flex-col text-white">
          <h1 class="text-2xl">
            text
          </h1>
        </div>
        <div class="pl-7 flex flex-col text-white">
          <h1 class="text-2xl">
            text
          </h1>
        </div>
        <div class="pl-7 flex flex-col text-white">
          <h1 class="text-2xl">
            text
          </h1>
        </div>
      </div> -->

      <div class="w-full grid grid-cols-2">
        <div class="p-5 flex flex-col text-white">
          <h1 class="text-3xl pb-5">
            Fast, responsive websites.
          </h1>
          <h2 class="text-md">
            Got an idea that needs people need to see? I can help you put it online. 
          </h2>
        </div>
        <div class="p-5 flex flex-col text-white">
          <h1 class="text-3xl pb-5">
            3-D modeling
          </h1>
          <h2 class="text-md">
            I like to use Blender and SolidWorks for 3-D modeling. Check out my 'Modeling my room' project on github! Need game assets? Want an animation made? Talk to me.
          </h2>
        </div>
        <div class="p-5 flex flex-col text-white">
          <h1 class="text-3xl pb-5">
            Python Development
          </h1>
          <h2 class="text-md">
            It can be used for everthing, so lets use it for something! Automate everything.
          </h2>
        </div>
        <div class="p-5 flex flex-col text-white">
          <h1 class="text-3xl pb-5">
            Penetration Testing
          </h1>
          <h2 class="text-md">
            Wanna make sure your server is secure? Need access to something that isnt accessible (ethically of course)?
          </h2>
        </div>
        <div class="p-5 flex flex-col text-white">
          <h1 class="text-3xl pb-5">
            Database Management
          </h1>
          <h2 class="text-md">
            MySQL, MongoDB, SQLite, lets manage some data.
          </h2>
        </div>
        <div class="p-5 flex flex-col text-white">
          <h1 class="text-3xl pb-5">
            Robotics
          </h1>
          <h2 class="text-md">
            Im a hobbyist at most. But got an idea? I'm always looking for a challenge, lets get something started!
          </h2>
        </div>
      </div>
    </div>
</section>