---

export interface Props {
	title?: string;
  subtitle? : string;
  tagline? : string;

}

const {
	title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
} = Astro.props;
---

<section class="w-screen h-fit flex flex-col justify-around items-center" id="about">
    <div class="w-full h-1/4 p-5 text-center">
        {
        tagline && (
            <p
              class="text-base text-red-400 dark:text-red-400 font-bold tracking-wide uppercase"
              set:html={tagline}
            />
          )
        }
        {
            title && (
              <h1
                class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200"
                set:html={title}
              />
            )
        }
        {subtitle && <p class="text-xl text-muted mb-6 dark:text-white/75" set:html={subtitle} />}
    </div>
    <div class="md:w-4/6 hidden sm:grid grid-cols-2 gap-12 m-10 pl-12 place-items-stretch">
      <div class="flex flex-col dark:text-white">
        <div class="text-3xl">
          Fast, responsive websites.
        </div>
        <div class="text-lg opacity-75">
          Got a dream? I can help you put it online.
        </div>
      </div>
      <div class="flex flex-col dark:text-white">
        <div class="text-3xl">
          Python Development
        </div>
        <div class="text-lg opacity-75">
          It can be used for eveything, so lets use it for something!
        </div>
      </div>
      <div class="flex flex-col dark:text-white">
        <div class="text-3xl">
          title
        </div>
        <div class="text-lg opacity-75">
          Subtitle
        </div>
      </div>
      <div class="flex flex-col dark:text-white">
        <div class="text-3xl">
          title
        </div>
        <div class="text-lg opacity-75">
          Subtitle
        </div>
      </div>
      <div class="flex flex-col dark:text-white">
        <div class="text-3xl">
          title
        </div>
        <div class="text-lg opacity-75">
          Subtitle
        </div>
      </div>
      <div class="flex flex-col dark:text-white">
        <div class="text-3xl">
          title
        </div>
        <div class="text-lg opacity-75">
          Subtitle
        </div>
      </div>
    </div>
    <div class="sm:hidden w-screen grid grid-col-1 place-items-center">
      <div class="w-5/6">
        
      </div>
    </div>
</section>