---

export interface Props {
	title?: string;
  subtitle? : string;
  tagline? : string;
}

const {
	title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
} = Astro.props;
---

<section class="w-full h-screen flex flex-col justify-evenly" id="about">
    <div class="w-full h-1/4 p-5 text-center">
        {
        tagline && (
            <p
              class="text-base text-red-400 dark:text-blue-200 font-bold tracking-wide uppercase"
              set:html={tagline}
            />
          )
        }
        {
            title && (
              <h1
                class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200"
                set:html={title}
              />
            )
        }
        {subtitle && <p class="text-xl text-muted mb-6 dark:text-slate-300" set:html={subtitle} />}
    </div>
    <div class="flex w-full">
        <div class="grid h-20 flex-grow card bg-base-300 rounded-box place-items-center">content</div>
        <div class="divider divider-horizontal">OR</div>
        <div class="grid h-20 flex-grow card bg-base-300 rounded-box place-items-center">content</div>
      </div>
</section>