---

export interface Props {
	title?: string;
  subtitle? : string;
  tagline? : string;

}

const {
	title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
} = Astro.props;
---

<section class="w-screen h-fit flex flex-col justify-around items-center" id="about">
    <div class="w-full h-1/4 p-5 text-center">
        {
        tagline && (
            <p
              class="text-base text-red-400 dark:text-red-400 font-bold tracking-wide uppercase"
              set:html={tagline}
            />
          )
        }
        {
            title && (
              <h1
                class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200"
                set:html={title}
              />
            )
        }
        {subtitle && <p class="text-xl text-muted mb-6 dark:text-white/75" set:html={subtitle} />}
    </div>
    <div class="md:w-4/6 hidden sm:grid grid-cols-2 gap-12 m-10 pl-12 place-items-stretch">
      <div class="flex flex-col dark:text-white">
        <div class="text-3xl">
          Fast, responsive websites.
        </div>
        <div class="text-lg opacity-75">
          Got a dream? I can help you put it online.
        </div>
      </div>
      <div class="flex flex-col dark:text-white">
        <div class="text-3xl">
          Python Development
        </div>
        <div class="text-lg opacity-75">
          It can be used for eveything, so lets use it for something!
        </div>
      </div>
      <div class="flex flex-col dark:text-white">
        <div class="text-3xl">
          Game Development
        </div>
        <div class="text-lg opacity-75">
          Wanna make a game? My experience with Unity and PyGame makes me a flexible choice for your next project.
        </div>
      </div>
      <div class="flex flex-col dark:text-white">
        <div class="text-3xl">
          3D Modelling
        </div>
        <div class="text-lg opacity-75">
          Need game assets? Want to bring your story to life with a custom animation? I work with Blender and SolidWorks to model things digitally. 
        </div>
      </div>
      <div class="flex flex-col dark:text-white">
        <div class="text-3xl">
          Penetration Testing
        </div>
        <div class="text-lg opacity-75">
          Is your server secure? Need a Trojan in a pinch? 
        </div>
      </div>
      <div class="flex flex-col dark:text-white">
        <div class="text-3xl">
          General Programming
        </div>
        <div class="text-lg opacity-75">
          C#, C, Java, JavaScript, Python, Bash, DuckyScript. 
        </div>
      </div>
    </div>
    <div class="sm:hidden w-screen grid grid-col-2 place-items-left">

    </div>
    <div class="sm:hidden w-screen grid grid-col-1 gap-5 place-items-center">
      <div class="card card-side w-5/6 pl-5 bg-base-100">
        <figure>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
          </svg>  
        </figure>
        <div class="card-body">        
          <span>
            <h2 class="card-title">
              Fast, responsive websites.
            </h2>
          </span>
          <p>Got a dream? I can help you put it online.</p>
        </div>
      </div>
      <div class="card w-5/6 bg-base-100">
        <div class="card-body">
          <h2 class="card-title">Python Development</h2>
          <p>It can be used for eveything, so lets use it for something! </p>
        </div>
      </div>
      <div class="card w-5/6 bg-base-100">
        <div class="card-body">
          <h2 class="card-title">Game Development</h2>
          <p>Wanna make a game? My experience with Unity and PyGame makes me a flexible choice for your next project. </p>
        </div>
      </div>
      <div class="card w-5/6 bg-base-100">
        <div class="card-body">
          <h2 class="card-title">3D Modelling</h2>
          <p>Need game assets? Want to bring your story to life with a custom animation? I work with Blender and SolidWorks to model things digitally.</p>
        </div>
      </div>
      <div class="card w-5/6 bg-base-100">
        <div class="card-body">
          <h2 class="card-title">Penetration Testing </h2>
          <p>Is your server secure? Need a Trojan in a pinch? </p>
        </div>
      </div>
      <div class="card w-5/6 bg-base-100">
        <div class="card-body">
          <h2 class="card-title">General Programming</h2>
          <p>C#, C, Java, JavaScript, Python, Bash, DuckyScript. </p>
        </div>
      </div>
    </div>
</section>


