---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
    const projects = await getCollection('projects');
    return projects.map((project => {
        const { slug } = project;

        return {
            params: { slug },
            props: project,
        };
    }));
}

type Props = CollectionEntry<'projects'>;

const project: Props = Astro.props;
const { Content } = await project.render();
const {
    data: { description, title },
} = project;
---
<Layout title='Showcase'>
    <main>
        <h2>{ title }</h2>
        <Content />
    </main>
</Layout>
