---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/widgets/Hero.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Navigation/>
		<Hero/>
		<h1>Title</h1>
	</main>
</Layout>