---

---

<script>
    import { getImage } from "astro:assets";
    import FrontShot from "../assets/hero/FrontShot-min.png";
    import TopShot from "../assets/hero/TopShot-min.png";
    import CloseShot from "../assets/hero/CloseShot-min.png";
    import PotStill from "../assets/hero/PotStill-min.png";
    const optimizedFrontShot = await getImage({ src: FrontShot });
    const optimizedTopShot = await getImage({ src: TopShot });
    const optimizedCloseShot = await getImage({ src: CloseShot });
    const optimizedPotStill = await getImage({ src: PotStill });

    const Images = [
        optimizedFrontShot,
        optimizedTopShot,
        optimizedCloseShot,
        optimizedPotStill,
    ];

    const selectedImage = Images[Math.floor(Math.random() * Images.length)];

    const hero = document.getElementById("Hero");
    if (hero === null) {
        alert("oops");
    } else {
        // since you've done the nullable check
        // TS won't complain from this point on
        hero.style.backgroundImage = `url('${optimizedPotStill.src}')`; // <- no error
        hero.style.backgroundColor = '#880808'; // <- no error
    }
</script>

<div id="Hero" class="min-h-screen bg-center bg-cover">
    <slot name="HeroContent" />
</div>


