---
import { ThemeSwitch } from 'astro-color-scheme';
import { string } from 'astro/zod';

export interface Props {
	firstLink?: string;
  secondLink? : string;
  thirdLink? : string | any; 
  buttonLink? : string;
  buttonLocation : string;
}

const {
	firstLink = await Astro.slots.render('homeLink'),
  secondLink = await Astro.slots.render('aboutLink'),
  thirdLink = await Astro.slots.render('projectLink'),
  buttonLink = await Astro.slots.render('buttonLink'),
  buttonLocation = await Astro.slots.render('buttonLocation'),
} = Astro.props;
---

<div class="navbar sticky top-0 z-10">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          {
            firstLink && (
              <li>
                <a
                  set:html={firstLink}
                />
              </li>
            )
          }
          {
            secondLink && (
              <li>
                <a
                  set:html={secondLink}
                />
              </li>
            )
          }
          {
            thirdLink && (
              <li>
                <a
                  set:html={thirdLink}
                />
              </li>
            )
          }
        </ul>
      </div>
      <a class="btn btn-ghost text-2xl" href={import.meta.env.BASE_URL + '/'}>patdalcia</a>
    </div>
    <div class="navbar-end">
      <div class="pr-5">
        <ThemeSwitch strategy="checkbox">
          <input type="checkbox" class="toggle" checked />
        </ThemeSwitch>
        </div>
        {
          buttonLink && (
            <a
              class="btn"
              href={import.meta.env.BASE_URL + buttonLocation}
              set:html={buttonLink}
            />
          )
        }
    </div>
  </div>