---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/widgets/Footer.astro';

export async function getStaticPaths() {
    const projects = await getCollection('projects');
    return projects.map((project => {
        const { slug } = project;

        return {
            params: { slug },
            props: project,
        };
    }));
}

type Props = CollectionEntry<'projects'>;

const project: Props = Astro.props;
const { Content } = await project.render();
const {
    data: { description, title },
} = project;
---
<Layout 
    title='Showcase',
    description='A Project showcase page.'
    >
    <main>
        <Navigation
            buttonLink='Home',
            buttonLocation='/'
        />
        <article class="prose prose-xl text-center">
            <Content/>
        </article>
        <Footer/>
    </main>
</Layout>
