---
import { ViewTransitions } from 'astro:transitions';
interface Props { 
	title: string;
	description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="title" content={title} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-gray-500 bg-gray-200 dark:text-white bg-repeat w-full h-full dark:heropattern-topography-gray-900/10 heropattern-topography-gray-300/50">
		<slot />
	</body>
</html>
